<tui-wrapper
    appearance="textfield"
    class="t-outline"
    [readOnly]="readOnly"
    [disabled]="disabled"
    [focused]="computedFocused"
    [hovered]="computedHovered"
    [invalid]="computedInvalid"
>
    <div
        *tuiLet="editorLoaded$ | async as editorLoaded"
        class="t-wrapper"
        [class.t-wrapper_disabled]="disabled"
        (tuiHoveredChange)="onHovered($event)"
        (tuiActiveZoneChange)="onActiveZone($event)"
    >
        <div class="t-toolbar-wrapper">
            <tui-toolbar
                *ngIf="editorLoaded"
                new
                [tools]="tools"
                [disabled]="!interactive"
            >
                <ng-content select="tools"></ng-content>
            </tui-toolbar>
            <div
                class="t-placeholder"
                [class.t-placeholder_raised]="placeholderRaised"
            >
                <ng-content></ng-content>
            </div>
            <div
                *ngIf="hasExampleText"
                class="t-example-text"
            >
                {{ exampleText }}
            </div>
        </div>

        <tui-scrollbar class="t-scrollbar">
            <div
                tuiDropdownLimitWidth="auto"
                tuiDropdownSelectionPosition="tag"
                [tuiDropdownSelection]="dropdownSelectionHandler"
                [tuiDropdownContent]="dropdown"
            >
                <div
                    *ngIf="editorLoaded"
                    tuiTiptapEditor
                    class="tui-editor-socket"
                    [value]="value"
                    [editable]="interactive"
                    (valueChange)="onModelChange($event)"
                    (stateChange)="(0)"
                ></div>
            </div>
        </tui-scrollbar>

        <ng-template #dropdown>
            <tui-edit-link
                #editLinkDropdown
                (addLink)="addLink($event)"
                (removeLink)="removeLink()"
            ></tui-edit-link>
        </ng-template>
    </div>
</tui-wrapper>
