<tui-doc-page
    header="InputRange"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p i18n>Component to input a range of values</p>

        <p i18n>
            Number formatting can be customized by using
            <a
                tuiLink
                routerLink="/utils/tokens"
            >
                TUI_NUMBER_FORMAT
            </a>
        </p>

        <tui-notification status="warning">
            <p
                i18n
                class="tui-space_top-0"
            >
                This component is being refactored.
                Soon&nbsp;(next&nbsp;major&nbsp;release) you will see the fresh
                version of it!
            </p>
            <p i18n>
                Of course, we keep backward compatibility in mind (for 2.x.x).
                You can still use old version of
                <code>InputRange</code>
                .
            </p>

            <p i18n>
                However, if you are going to use this component, we recommend to
                use new version. To enable the "new version"-mode, add
                <code>new</code>
                directive. Example:&nbsp;
                <code>
                    &lt;tui&#8209;input&#8209;range&nbsp;new&nbsp;...&gt;
                </code>
            </p>
        </tui-notification>

        <tui-doc-example
            id="base"
            i18n-heading
            heading="Basic"
            [content]="example1"
        >
            <!-- TODO: make this example really basic (similar to https://taiga-ui.dev/components/input-slider#base) -->
            <tui-input-range-example-1></tui-input-range-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="numberFormat"
            i18n-heading
            heading="Override number format"
            [content]="example2"
        >
            <tui-input-range-example-2></tui-input-range-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="valueContent"
            i18n-heading
            heading="Custom value content"
            [content]="example3"
        >
            <tui-input-range-example-3></tui-input-range-example-3>
        </tui-doc-example>

        <tui-doc-example
            id="segments"
            i18n-heading
            heading="Visual segments + labels for ticks"
            [content]="example4"
        >
            <tui-notification
                i18n
                class="tui-space_bottom-8"
            >
                Use mixin
                <code>tui-slider-ticks-labels</code>
                to arrange ticks' labels (it places them strictly below ticks).
            </tui-notification>
            <tui-input-range-example-4></tui-input-range-example-4>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-input-range
                    new
                    [formControl]="control"
                    [min]="min"
                    [max]="max"
                    [segments]="segments"
                    [keySteps]="keySteps"
                    [pluralize]="pluralize"
                    [steps]="steps"
                    [quantum]="quantum"
                    [leftValueContent]="leftValueContent"
                    [rightValueContent]="rightValueContent"
                    [tuiTextfieldLabelOutside]="labelOutside"
                    [tuiTextfieldSize]="size"
                    [readOnly]="readOnly"
                    [size]="size"
                    [minLabel]="minLabel"
                    [maxLabel]="maxLabel"
                    [segmentsPluralize]="segmentsPluralize"
                >
                    Just a very long label. Don't afraid it does not overflow
                    the wrapper, the label is just cut off with ellipsis when it
                    does not fit the wrapper.
                </tui-input-range>
            </ng-template>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName=""
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use
                <code>formControl.disable()</code>
                )
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="min"
                documentationPropertyMode="input"
                documentationPropertyType="number"
                [documentationPropertyValues]="minVariants"
                [(documentationPropertyValue)]="min"
            >
                Min value
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="max"
                documentationPropertyMode="input"
                documentationPropertyType="number"
                [documentationPropertyValues]="maxVariants"
                [(documentationPropertyValue)]="max"
            >
                Max value
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="quantum"
                documentationPropertyMode="input"
                documentationPropertyType="number"
                [documentationPropertyValues]="quantumVariants"
                [(documentationPropertyValue)]="quantum"
            >
                Minimum indivisible value
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="steps"
                documentationPropertyMode="input"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="steps"
            >
                Number of actual discrete slider steps
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="segments"
                documentationPropertyMode="input"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="segments"
            >
                A number of visual segments
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="keySteps"
                documentationPropertyMode="input"
                documentationPropertyType="TuiKeySteps"
                [documentationPropertyValues]="keyStepsVariants"
                [(documentationPropertyValue)]="keySteps"
            >
                Anchor points of non-uniform format between value and position
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="leftValueContent"
                documentationPropertyMode="input"
                documentationPropertyType="PolymorpheusContent"
                [documentationPropertyValues]="valueContentVariants"
                [(documentationPropertyValue)]="leftValueContent"
            >
                A template for custom view of the left selected value.
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="rightValueContent"
                documentationPropertyMode="input"
                documentationPropertyType="PolymorpheusContent"
                [documentationPropertyValues]="valueContentVariants"
                [(documentationPropertyValue)]="rightValueContent"
            >
                A template for custom view of the right selected value.
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="pluralize"
                documentationPropertyMode="input"
                documentationPropertyType="TuiPluralize | Record<string, string>"
                [documentationPropertyValues]="pluralizeVariants"
                [(documentationPropertyValue)]="pluralize"
            >
                Plural forms for labels. TuiPluralize array is deprecated. Use
                object that mimics the
                <a
                    tuiLink
                    href="https://unicode-org.github.io/icu/userguide/format_parse/messages/"
                >
                    ICU format
                </a>
                for i18nPlural
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="readOnly"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="readOnly"
            >
                Component is read only
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="size"
                documentationPropertyMode="input"
                documentationPropertyType="TuiSizeL"
                [documentationPropertyDeprecated]="true"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Size

                <p>
                    Use
                    <code>tuiTextfieldSize</code>
                    instead.
                </p>
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="minLabel"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [documentationPropertyDeprecated]="true"
                [documentationPropertyValues]="minLabelVariants"
                [(documentationPropertyValue)]="minLabel"
            >
                Label for min value

                <p>
                    Use
                    <code>leftValueContent</code>
                    instead.
                </p>
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="maxLabel"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [documentationPropertyDeprecated]="true"
                [documentationPropertyValues]="maxLabelVariants"
                [(documentationPropertyValue)]="maxLabel"
            >
                Label for max value

                <p>
                    Use
                    <code>rightValueContent</code>
                    instead.
                </p>
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="segmentsPluralize"
                documentationPropertyMode="input"
                documentationPropertyType="TuiPluralize"
                [documentationPropertyDeprecated]="true"
                [documentationPropertyValues]="pluralizeVariants"
                [(documentationPropertyValue)]="segmentsPluralize"
            >
                Plural forms for
                <code>segments</code>

                <p>
                    <strong>
                        See examples how to create ticks without this property
                        (outside of the component).
                    </strong>
                </p>
            </ng-template>
        </tui-doc-documentation>

        <h6
            i18n
            class="tui-text_h6"
        >
            Can be expanded with
            <a
                tuiLink
                target="_blank"
                routerLink="/directives/textfield-controller"
            >
                TuiTextfieldController
            </a>
        </h6>

        <p>
            Requires you to import
            <code>TuiTextfieldControllerModule</code>
        </p>

        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName="tuiTextfieldLabelOutside"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="labelOutside"
            >
                Label is outside a component and made with
                <a
                    tuiLink
                    routerLink="/components/label"
                >
                    <code>Label</code>
                </a>
            </ng-template>

            <ng-template
                i18n
                documentationPropertyName="tuiTextfieldSize"
                documentationPropertyMode="input"
                documentationPropertyType="TuiSizeL"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Size
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import
                    <code>TuiInputRangeModule</code>
                    into a module where you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleHtml"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
