<tui-doc-page
    header="MultiSelect"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <div
            i18n
            class="tui-space_bottom-3"
        >
            <code>MultiSelect</code>
            is a textfield with a dropdown for choosing several items
        </div>

        <tui-doc-example
            id="string-array"
            i18n-heading
            heading="String array"
            [content]="example1"
        >
            <tui-multi-select-example-1></tui-multi-select-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="object-array"
            i18n-heading
            heading="Custom template, async items loading"
            [content]="example2"
        >
            <tui-multi-select-example-2></tui-multi-select-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="sizes"
            i18n-heading
            heading="sizes"
            [content]="example3"
        >
            <tui-multi-select-example-3></tui-multi-select-example-3>
        </tui-doc-example>

        <tui-doc-example
            id="ids"
            i18n-heading
            heading="With IDs"
            [content]="example4"
        >
            <tui-multi-select-example-4></tui-multi-select-example-4>
        </tui-doc-example>

        <tui-doc-example
            id="datalist"
            heading="DataList"
            [content]="example5"
        >
            <tui-multi-select-example-5></tui-multi-select-example-5>
        </tui-doc-example>

        <tui-doc-example
            id="rtl"
            heading="Direction: RTL"
            [content]="example6"
        >
            <tui-multi-select-example-6></tui-multi-select-example-6>
        </tui-doc-example>

        <tui-doc-example
            id="virtual"
            heading="Virtual scroll"
            [content]="example7"
        >
            <tui-multi-select-example-7></tui-multi-select-example-7>
        </tui-doc-example>

        <tui-doc-example
            id="options-stringify"
            heading="Options (stringify)"
            [content]="example8"
        >
            <tui-multi-select-example-8></tui-multi-select-example-8>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-multi-select
                    [formControl]="control"
                    [tuiDropdownAlign]="dropdownAlign"
                    [tuiDropdownDirection]="dropdownDirection"
                    [tuiDropdownLimitWidth]="dropdownLimitWidth"
                    [tuiDropdownMinHeight]="dropdownMinHeight"
                    [tuiDropdownMaxHeight]="dropdownMaxHeight"
                    [tuiTextfieldCleaner]="cleaner"
                    [tuiTextfieldExampleText]="exampleText"
                    [tuiTextfieldMaxLength]="maxLength"
                    [tuiTextfieldLabelOutside]="labelOutside"
                    [tuiTextfieldSize]="size"
                    [tuiHintContent]="hintContent"
                    [tuiHintDirection]="hintDirection"
                    [tuiHintMode]="hintMode"
                    [focusable]="focusable"
                    [disabledItemHandler]="disabledItemHandler"
                    [editable]="editable"
                    [expandable]="expandable"
                    [identityMatcher]="identityMatcher"
                    [readOnly]="readOnly"
                    [stringify]="stringify"
                    [pseudoInvalid]="pseudoInvalid"
                    [pseudoFocused]="pseudoFocused"
                    [pseudoHovered]="pseudoHovered"
                    [pseudoPressed]="pseudoPressed"
                    [valueContent]="valueContent"
                    [(search)]="search"
                >
                    Choose an account
                    <tui-data-list-wrapper
                        *tuiDataList
                        tuiMultiSelectGroup
                        [disabledItemHandler]="disabledItemHandler"
                        [items]="items"
                    ></tui-data-list-wrapper>
                </tui-multi-select>
            </ng-template>
        </tui-doc-demo>
        <div i18n>
            <p>
                Set a value with copied object from items to check
                <code>identityMatcher</code>
                :
            </p>

            <button
                tuiButton
                type="button"
                size="m"
                (click)="setValue()"
            >
                Set
            </button>
        </div>

        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName=""
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use
                <code>formControl.disable()</code>
                )
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="search"
                documentationPropertyMode="input-output"
                documentationPropertyType="string | null"
                [(documentationPropertyValue)]="search"
            >
                Textfield value to subscribe on input or setting it from the
                outside (emits
                <code>null</code>
                when item from list selected)
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="disabledItemHandler"
                documentationPropertyMode="input"
                documentationPropertyType="TuiBooleanHandler<T>"
                [documentationPropertyValues]="disabledItemHandlerVariants"
                [(documentationPropertyValue)]="disabledItemHandler"
            >
                Handler for deactivation some items
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="editable"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="editable"
            >
                Textfield can be use for typing
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="expandable"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="expandable"
            >
                Control height can be expanded to show all tags
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="identityMatcher"
                documentationPropertyMode="input"
                documentationPropertyType="TuiIdentityMatcher"
                [documentationPropertyValues]="identityMatcherVariants"
                [(documentationPropertyValue)]="identityMatcher"
            >
                A function that compares search and value to define a match
                between them.
                <strong>Must be a pure function</strong>
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="stringify"
                documentationPropertyMode="input"
                documentationPropertyType="TuiStringHandler"
                [documentationPropertyValues]="stringifyVariants"
                [(documentationPropertyValue)]="stringify"
            >
                A function that transforms object into a string.
                <code>String(value)</code>
                by default.
                <strong>Should be a pure function</strong>
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="valueContent"
                documentationPropertyMode="input"
                documentationPropertyType="PolymorpheusContent"
                [documentationPropertyValues]="valueContentVariants"
                [(documentationPropertyValue)]="valueContent"
            >
                A template for custom view of selected value
            </ng-template>
        </tui-doc-documentation>
        <inherited-documentation [dropdown]="true"></inherited-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import an Angular module for forms and
                    <code>TuiMultiSelectModule</code>
                    in the same module where you want to use our component:
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleModule"
                ></tui-doc-code>

                <p i18n>
                    See samples to learn more about working with
                    <code>tui-data-list-wrapper</code>
                    or without them
                </p>
            </li>

            <li>
                <p i18n>
                    Declare a form (
                    <code>FormGroup</code>
                    ) or a control (
                    <code>FormControl</code>
                    ) in your component:
                </p>

                <tui-doc-code
                    filename="myComponent.component.ts"
                    [code]="exampleForm"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleHtml"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
