@import 'https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap';

/* stylelint-disable */

body.tui-editor-socket {
    margin: 0;
    overflow: hidden;
    padding: 0 16px;
}

.tui-editor-socket {
    display: block;
    color: #333;
    font-size: 15px;
    font-family: tuiText, 'Manrope', sans-serif;
    line-height: 24px;
}

.tui-editor-socket ul,
.tui-editor-socket ol {
    list-style-type: none;
    margin: 16px 16px 16px 24px;
    padding: 0;
}

.tui-editor-socket li {
    margin: 16px 0;
}

.tui-editor-socket ul li:before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin: 0 14px 1px -22px;
    background-color: #ffdd2d;
}

.tui-editor-socket ol {
    counter-reset: counter;
}

.tui-editor-socket ol li:before {
    content: counter(counter) '.';
    width: 24px;
    margin: 0 12px 0 -24px;
    counter-increment: counter;
    color: #909090;
}

.tui-editor-socket pre {
    white-space: pre-wrap;
    border-radius: 4px;
    margin: 16px 0;
    padding: 12px 16px;
    font-family: 'Courier', monospace;
    color: #666666;
    background-color: #f5f5f6;
}

.tui-editor-socket pre + pre {
    margin-top: -29px;
    padding-top: 0;
}

.tui-editor-socket blockquote {
    margin: 20px 0 20px 24px !important;
    padding-left: 17px !important;
    border-left: 1px solid #cbcfd3 !important;
}

.tui-editor-socket p {
    margin: 16px 0;
}

.tui-editor-socket a {
    color: #3d7ab6;
    text-decoration: none;
    outline: none;
}

.tui-editor-socket a:hover {
    color: #369;
}

.tui-editor-socket a:active {
    color: #29527c;
}

.tui-editor-socket hr {
    border: none;
    border-top: 1px solid #e7e8ea;
    margin: 16px 0;
}

.tui-editor-socket font[face='Courier New'] {
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #ecf1f7;
    display: inline-block;
    word-break: break-word;
}

.tui-editor-socket font[size='1'] {
    font-size: 11px;
    line-height: 16px;
}

.tui-editor-socket font[size='2'] {
    font-size: 13px;
    line-height: 20px;
}

.tui-editor-socket font[size='3'] {
    font-size: 15px;
    line-height: 24px;
}

.tui-editor-socket font[size='4'] {
    font-size: 17px;
    line-height: 24px;
}

.tui-editor-socket font[size='5'],
.tui-editor-socket font[size='6'],
.tui-editor-socket font[size='7'] {
    display: block;
    margin: 32px 0 16px;
    font-family: var(--tui-font-heading);
}

.tui-editor-socket font[size='5'] {
    font-size: 24px;
    line-height: 28px;
}

.tui-editor-socket font[size='6'] {
    font-size: 30px;
    line-height: 36px;
}

.tui-editor-socket font[size='7'] {
    font-size: 40px;
    line-height: 44px;
}
